<div class="container">
  <header class="jumbotron my-4">
    <h1 class="display-3">QA Site!</h1>
    <p class="lead">質問したり回答できたりします！</p>
    <%= link_to '質問したり回答できたりします', 'users/sign_up', class: 'btn btn-primary btn-lg'%>
  </header>
</div>
